<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> NBA Player Stats </title>
    </head>

    <body>
        <h1> Search for an NBA Player </h1>
        <form action="/search" method="post">
            <label for="player_name"> Player Name: </label> <!-- for="player_name" links the label to the input element with id of "player_name"-->
            <input type="text" id="player_name" name="player_name" required>
            <button type="submit"> Search </button>
        </form>
    </body>
</html>